$white: #fff;
$black: #000;

$primary: #001b8c;
$secondary: #52c7b8;
$tertiary: #001b8c;

$squareHover: $white;
$squareHoverText: $black;
$textHover: $primary;

$codexBorder: $primary;
$codexBG: $white;
$codexText: $black;
$codexHighlight: $primary;