// lol
@import url('https://fonts.googleapis.com/css?family=Concert+One|Courgette|Fredoka+One|Great+Vibes|Pacifico|Prosto+One|Satisfy');

$fontConcert: 'Concert One', cursive;
$fontPacifico: 'Pacifico', cursive;
$fontVibes: 'Great Vibes', cursive;
$fontSatisfy: 'Satisfy', cursive;
$fontCourgette: 'Courgette', cursive;
$fontFredoka: 'Fredoka One', cursive;
$fontProsto: 'Prosto One', cursive;