.hystori {
	width: 100%;
	position: relative;
	min-height: 100%;
	padding: 20px;

	&__calendar {
		border: 1px solid $white;
	}

	&__codex {
		position: fixed;
		height: 350px;
		bottom: -352px;
		left: 0;
		right: 0;
		transition: 0.3s all ease-in-out;

		&--open {
			bottom: 0;
		}
	}
}
