.hystori-calendar {
	box-shadow: 0 1px 5px -2px #777;
	background: $primary;
}

// Title
.page-title-container {
	margin: 10px 0 25px 5px;
}

.page-title {
	font-size: 2em;
}

.page-subtitle {
	font-style: italic;
	a {
		color: #ed1110;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}



// Hystori calendar
.calendar-month {
	padding: 20px 25px;
	width: 100%;
	background: $tertiary;
	text-align: center;

	&__list {
		.prev, .next {
			display: flex;
			margin-top: 10px;
			height: 30px;
			width: 30px;
			align-items: center;
			justify-content: center;
			border-radius: 25px;
			opacity: 1;
			background: $white;
			color: $primary;
			box-shadow: 2px 2px 9px -3px $black;
			transition: 0.3s width ease-out;

			&:hover, &:focus {
				cursor: pointer;
				width: 40px;
			}

			&:active {
				opacity: 0.5;
			}
		}

		.prev {
			float: left;
		}

		.next {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	&__title {
		font-size: 2.5em;
		font-family: $fontPacifico;
		&--m01, &--m07 {
			font-family: $fontConcert;
		}

		&--m02, &--m08 {
			font-family: $fontPacifico;
		}

		&--m03, &--m09 {
			font-family: $fontSatisfy;
		}

		&--m04, &--m10 {
			font-family: $fontCourgette;
		}

		&--m05, &--m11 {
			font-family: $fontLobster;
		}

		&--m06, &--m12 {
			font-family: $fontVibes;
		}
	}

	&__logo {
		position: relative;
	    max-height: 30px;
	    right: 25px;
	    top: 8px;
	}
}

.calendar-weekdays {
	padding: 10px 10px 0 10px;
	font-size: 0;
	font-family: $fontProsto;
	li {
		font-size: 1rem;
		display: inline-block;
		width: 14.285%;
		text-align: center;
	}
}

.calendar-dates {
	font-size: 0;
	padding: 8px 2px 2px 0;
	&__box {
		display: inline-block;
		width: 14.285%;
	}
}

.calendar-box {
	position: relative;
	opacity: 0.7;
	padding-bottom: 13.6%;
	color: $white;
	text-align: center;
	background: $black;
	box-shadow: 
	    2px 0 0 0 #888, 
	    0 2px 0 0 #888, 
	    2px 2px 0 0 #888,   /* Just to fix the corner */
	    2px 0 0 0 #888 inset, 
	    0 2px 0 0 #888 inset;
	font-size: 1rem;

	&--inMonth {
		color: $primary;
		background: $white;
		opacity: 1;
	}

	&:hover, &:focus {
		transition: 0.25s all ease-out;

	}

	&__day {
		position: absolute;
		top: 5px;
		left: 5px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 10px;
		width: 10px;
		font-size: 0.5em;
	}

	&__events {
		font-size: 10px;
		text-decoration: none;
		position: absolute;
		left: 5px;
		top: 22px;
		width: calc(100% - 10px);
	}
}

.calendar-events {
	&__item {
		&:hover, &:focus {
			color: $primary;
			cursor: pointer;
			text-decoration: underline;
		}

		&:active {
			opacity: 0.5;
		}
	}
}