.hystori {
	width: 100%;
	position: relative;
	min-height: 100%;
	padding-left: 125px;

	@media only screen and (max-width: 768px) {
		padding-left: 0;
		padding-top: 96px;
	}

	&__sidebar {
		position: fixed;
		left: 0;
		top: 0;
		width: 125px;
		height: 100vh;

		@media only screen and (max-width: 768px) {
			width: 100%;
			right: 0;
			height: auto;
		}
	}

	&__body {
		position: relative;
		width: 100%;
	}
}

.hystori-body {
	padding: 20px;
	background: #def3f1;
}