.hystori {
	width: calc(100% - 6px);
	margin: 0 3px 10px 3px;
	max-width: 680px;
	position: absolute;
	min-height: 100%;
	padding: 0;
	right: 50%;
    transform: translateX(50%);

	&__calendar {
		border: 1px solid $white;
	}

	&__codex {
		position: fixed;
		/*height: 350px;
		bottom: -352px;
		left: 0;
		right: 0;*/
		width: 100%;
		max-width: 500px;
		right: -100vw;
		top: 0;
		height: 100%;
		transition: 0.3s all ease-in-out;

		&--open {
			//bottom: 0;
			right: 0;
		}
	}
}

.hystori-viewport {
	position: relative;
	right: 0;
	transition: 0.3s all ease-in-out;
	&--codex-open {
		right: 250px;
	}
}