// Hystori-codex
.hystori-codex {
	background: $secondaryPink;
	color: $tertiaryPink;
	border-top: 2px solid $tertiaryPink;
	padding: 15px;

	&__close {
		position: absolute;
		top: 8px;
		right: 10px;
		cursor: pointer;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		width: 20px;

		&:hover, &:focus {
			transition: 0.25s all ease-in;
			color: $white;
			background: $black;
			cursor: pointer;
		}
	}
}

.codex-description {

	&__title {
		font-size: 1.5em;
		margin: 0 0 15px 0;
		text-decoration: underline;
	}

	&__key {
		font-style: italic;
		font-size: 0.8em;
		margin: 5px 0 10px 0;
	}

	&__content {
		margin: 5px 0;
	}

	&__link {
		text-decoration: underline;
		border-radius: 10px;

		&:hover, &:focus {
			transition: 0.25s ease-out all;
			color: $white;
			background: $black;
			cursor: pointer;
			padding: 0 3px;
		}
	}
}
