@import url("https://fonts.googleapis.com/css?family=Concert+One|Lobster|Courgette|Fredoka+One|Great+Vibes|Pacifico|Prosto+One|Satisfy");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  background: url(/bg.jpg) repeat; }

#root {
  width: 100%;
  min-height: 100%; }

.hystori {
  width: calc(100% - 6px);
  margin: 0 3px 10px 3px;
  max-width: 680px;
  position: absolute;
  min-height: 100%;
  padding: 0;
  right: 50%;
  transform: translateX(50%); }
  .hystori__calendar {
    border: 1px solid #fff; }
  .hystori__codex {
    position: fixed;
    /*height: 350px;
    bottom: -352px;
    left: 0;
    right: 0;*/
    width: 100%;
    max-width: 500px;
    right: -100vw;
    top: 0;
    height: 100%;
    transition: 0.3s all ease-in-out; }
    .hystori__codex--open {
      right: 0; }

.hystori-viewport {
  position: relative;
  right: 0;
  transition: 0.3s all ease-in-out; }
  .hystori-viewport--codex-open {
    right: 250px; }

.hystori-sidebar__title {
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid #001b8c;
  padding: 10px 0;
  background: #fff;
  color: #000; }

.hystori-year-list {
  background: #fff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 39px); }
  @media only screen and (max-width: 768px) {
    .hystori-year-list {
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      height: auto; } }
  .hystori-year-list .hystori-year-list__item {
    text-align: center;
    background: #fff;
    transition: 0.15s ease-in;
    padding: 5px 0;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .hystori-year-list .hystori-year-list__item {
        display: inline-block;
        width: 100px;
        padding: 20px 0; } }
    .hystori-year-list .hystori-year-list__item.active {
      text-decoration: underline;
      background: #fff;
      color: #fff; }
    .hystori-year-list .hystori-year-list__item:hover, .hystori-year-list .hystori-year-list__item:focus {
      background: #fff;
      cursor: pointer; }

.hystori-calendar {
  box-shadow: 0 1px 5px -2px #777;
  background: #001b8c; }

.page-title-container {
  margin: 10px 0 25px 5px; }

.page-title {
  font-size: 2em; }

.page-subtitle {
  font-style: italic; }
  .page-subtitle a {
    color: #ed1110;
    text-decoration: none; }
  .page-subtitle a:hover {
    text-decoration: underline; }

.calendar-month {
  padding: 20px 25px;
  width: 100%;
  background: #001b8c;
  text-align: center; }
  .calendar-month__list .prev, .calendar-month__list .next {
    display: flex;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    opacity: 1;
    background: #fff;
    color: #001b8c;
    box-shadow: 2px 2px 9px -3px #000;
    transition: 0.3s width ease-out; }
    .calendar-month__list .prev:hover, .calendar-month__list .prev:focus, .calendar-month__list .next:hover, .calendar-month__list .next:focus {
      cursor: pointer;
      width: 40px; }
    .calendar-month__list .prev:active, .calendar-month__list .next:active {
      opacity: 0.5; }
  .calendar-month__list .prev {
    float: left; }
  .calendar-month__list .next {
    float: right; }
  .calendar-month__list:after {
    content: "";
    display: table;
    clear: both; }
  .calendar-month__title {
    font-size: 2.5em;
    font-family: "Pacifico", cursive; }
    .calendar-month__title--m01, .calendar-month__title--m07 {
      font-family: "Concert One", cursive; }
    .calendar-month__title--m02, .calendar-month__title--m08 {
      font-family: "Pacifico", cursive; }
    .calendar-month__title--m03, .calendar-month__title--m09 {
      font-family: "Satisfy", cursive; }
    .calendar-month__title--m04, .calendar-month__title--m10 {
      font-family: "Courgette", cursive; }
    .calendar-month__title--m05, .calendar-month__title--m11 {
      font-family: "Lobster", cursive; }
    .calendar-month__title--m06, .calendar-month__title--m12 {
      font-family: "Great Vibes", cursive; }
  .calendar-month__logo {
    position: relative;
    max-height: 30px;
    right: 25px;
    top: 8px; }

.calendar-weekdays {
  padding: 10px 10px 0 10px;
  font-size: 0;
  font-family: "Prosto One", cursive; }
  .calendar-weekdays li {
    font-size: 1rem;
    display: inline-block;
    width: 14.285%;
    text-align: center; }

.calendar-dates {
  font-size: 0;
  padding: 8px 2px 2px 0; }
  .calendar-dates__box {
    display: inline-block;
    width: 14.285%; }

.calendar-box {
  position: relative;
  opacity: 0.7;
  padding-bottom: 13.6%;
  color: #fff;
  text-align: center;
  background: #000;
  box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888, 2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
  font-size: 1rem; }
  .calendar-box--inMonth {
    color: #001b8c;
    background: #fff;
    opacity: 1; }
  .calendar-box:hover, .calendar-box:focus {
    transition: 0.25s all ease-out; }
  .calendar-box__day {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    font-size: 0.5em; }
  .calendar-box__events {
    font-size: 10px;
    text-decoration: none;
    position: absolute;
    left: 5px;
    top: 22px;
    width: calc(100% - 10px); }

.calendar-events__item:hover, .calendar-events__item:focus {
  color: #001b8c;
  cursor: pointer;
  text-decoration: underline; }
.calendar-events__item:active {
  opacity: 0.5; }

.hystori-codex {
  background: #fff;
  color: #000;
  border-left: 2px solid #001b8c;
  padding: 15px; }
  .hystori-codex__close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: #001b8c; }
    .hystori-codex__close:hover, .hystori-codex__close:focus {
      transition: 0.25s all ease-in;
      color: #fff;
      background: #001b8c;
      cursor: pointer; }

.codex-description__title {
  font-size: 1.5em;
  margin: 0 0 15px 0; }
.codex-description__date {
  font-size: 0.6em;
  font-style: italic; }
.codex-description__key {
  font-style: italic;
  font-size: 0.8em;
  margin: 5px 0 10px 0; }
.codex-description__content {
  margin: 5px 0; }
.codex-description__crumb {
  text-decoration: underline;
  border-radius: 10px;
  color: #001b8c;
  font-weight: 100;
  display: inline-block;
  padding: 2px 4px;
  margin: 0 4px; }
  .codex-description__crumb:hover, .codex-description__crumb:focus {
    cursor: pointer;
    box-shadow: 0 0 0 1px #001b8c;
    /* All the borders by using the spread properties */
    text-decoration: none; }
  .codex-description__crumb:active {
    opacity: 0.5; }
.codex-description__selected-crumb {
  margin: 2px 8px; }
.codex-description__link {
  text-decoration: underline;
  border-radius: 10px;
  color: #001b8c;
  font-weight: 700;
  display: inline-block;
  padding: 2px 4px; }
  .codex-description__link:hover, .codex-description__link:focus {
    cursor: pointer;
    box-shadow: 0 0 0 2px #001b8c;
    /* All the borders by using the spread properties */
    text-decoration: none; }
  .codex-description__link:active {
    opacity: 0.5; }

.codex-title__logo {
  position: relative;
  max-height: 29px;
  right: 5px;
  top: 7px; }

/*# sourceMappingURL=app.css.map */
